#grid_archives {
}

.grid_archives_column {
  display: inline;
  float: left;
  margin: 0 15px;
  overflow: hidden;
  /* width: 900px; */
}

#grid_archives ul{
  padding: 0;
  margin: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

#grid_archives ul.ga_year_list{
  padding: 15px 0 10px;
}

#grid_archives ul.ga_year_list li{
  font-size: 36px;
  float: left;
  list-style: none outside none;
  margin: 0 15px 12px 0;
  padding: 8px 10px 9px;
  background-color: #0D0D0D;
  opacity: 0.8;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  -moz-box-shadow: 5px 5px 10px #444;
  -webkit-box-shadow: 5px 5px 10px #444;
  box-shadow: 5px 5px 10px #444;
}

#grid_archives ul.ga_year_list li:hover{
  -moz-box-shadow: 3px 2px 5px #A2A2A2;
  -webkit-box-shadow: 3px 2px 5px #A2A2A2;
  box-shadow: 3px 2px 5px #A2A2A2;
}

#grid_archives ul.ga_year_list li.current{
  -moz-box-shadow: 3px 2px 5px #A2A2A2;
  -webkit-box-shadow: 3px 2px 5px #A2A2A2;
  box-shadow: 3px 2px 5px #A2A2A2;
}

#grid_archives ul.ga_year_list li a.current{
  color: #FF9933 !important;
  /* border-bottom: 2px solid #FF9933 !important; */
}

#grid_archives ul.ga_month_list li{
  float: left;
  font-size: 12px;
  background-color: #0D0D0D;
  color: #555;
  opacity: 0.9;
  list-style: none outside none;
  margin: 0 12px 10px 0;
  padding: 8px 10px 9px;
  border-radius: 8px;
  box-shadow: 3px 3px 5px #444;
}

#grid_archives ul.ga_month_list li.ga_active_month:hover {
  box-shadow: 1px 1px 3px #A2A2A2;
}

#grid_archives ul.ga_month_list li a, #grid_archives ul.ga_month_list li a:link, #grid_archives ul.ga_month_list li a:visited {
  /* color: #ABD1EA; */
  color: #7493BF;
  text-decoration: none;
  border-bottom: medium none;
}

#grid_archives ul.ga_month_list li a:hover {
  color: #FF9933;
}

#grid_archives ul li.ga_year_month {
  background: none repeat scroll 0 0 transparent;
  font-size: 34px;
  padding: 20px 0;
  clear: left;
}

#grid_archives ul.ga_year_list li a, #grid_archives ul.ga_year_list li a:link, #grid_archives ul.ga_year_list li a:visited, #grid_archives ul li.ga_year_month a, #grid_archives ul li.ga_year_month a:link, #grid_archives ul li.ga_year_month a:visited {
  /* color: #ABD1EA; */
  color: #7493BF;
  text-decoration: none;
  border-bottom: medium none;
}

#grid_archives ul.ga_year_list li a:hover, #grid_archives ul li.ga_year_month a:hover {
  color: #FF9933;
}

#grid_archives ul li.ga_year_month .ga_monthly_summary {
  display: inline-block;
  /* color: #555; */
  color: #BBB;
  font-family: georgia,verdana;
  font-size: 22px;
  font-style: italic;
  margin-left: 10px;
  vertical-align: super;
}

#grid_archives ul li.ga_post {
  float: left;
  background: none repeat scroll 0 0 transparent;
  list-style-type: none;
  margin: 0 15px 15px 0;
}

#grid_archives ul li div.ga_post_main {
  /* background-color: #0D0D0D; */
  background-color: #F6F6F6;
/*  background-image: -moz-radial-gradient(0px 0px 0deg, circle farthest-corner, #3D3D3D 0%, #0D0D0D 60%);*/
/*  background-image: -moz-radial-gradient(0px 0px 0deg, circle farthest-corner, #2B2B2B 0%, #0D0D0D 60%);*/
  /* background: -moz-linear-gradient(center top, #3D3D3D, #0D0D0D); */
  /* background: -webkit-gradient(linear, center top, center bottom, from(#3D3D3D), to(#0D0D0D)); */
  /* -pie-background: linear-gradient(center top, #3D3D3D, #0D0D0D); */
  padding: 7px 5px 7px 10px;
  width: 150px;
  height: 150px;
  opacity: 0.8;
  overflow: hidden;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  -moz-box-shadow: 5px 5px 10px #444;
  -webkit-box-shadow: 5px 5px 10px #444;
  box-shadow: 5px 5px 10px #444;
  behavior: url(/wp-content/plugins/grid-archives/PIE.htc);
}

#grid_archives ul li.ga_post a, #grid_archives ul li.ga_post a:link, #grid_archives ul li.ga_post a:visited {
  line-height: 125%;
  /* color: #ABD1EA; */
  color: #7493BF;
}

#grid_archives ul li.ga_post a:hover {
  line-height: 125%;
  color: #FF9933;
}

#grid_archives ul li.ga_post p {
  /* color: #666; */
  color: #333;
  /* font-size: 8pt; */
  font-size: 10.5px;
  font-style: italic;
  line-height: 135%;
  padding: 8px 0 5px;
}

#grid_archives ul li.ga_post p.ga_post_date {
  font-family: 'Myriad Pro',Corbel,'Helvetica Neue',Helvetica,'Lucida Grande',Verdana,sans-serif;
  font-style: normal;
  text-align: right;
  color: #666;
}
